/* components/Sky.module.css */
.sky {
  position: relative;
  width: 100%;
  height: calc(100vh - 65px);
  background: black;
  overflow: auto;
  z-index: 0 !important ; /* Set the z-index for the sky container */
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  animation: flicker 1s infinite alternate;
  z-index: 1 !important ; /* Set the z-index for the stars */
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.meteorite {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ff0000;
  border-radius: 50%;
  animation: meteorite-fall 4s linear infinite;
  z-index: 1; /* Set the z-index for the meteorites */
}

@keyframes meteorite-fall {
  0% {
    transform: translateX(100%);
    bottom: -10px;
  }
  100% {
    transform: translateX(-100%);
    bottom: 110vh;
  }
}
