@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-black text-neutral-100;
}

.custom-select .css-1pahdxg-control {
  color: white;
}
.custom-select .css-1pahdxg-control input {
  color: white;
}
.custom-select .css-1wa2cjx-control {
  outline: none;
}

.custom-select .css-1pahdxg-control:hover {
  border-color: black; /* You can set the border color when hovering */
}